<div class="modal fade" id="confirmarExclusao{{ item_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if item_tipo == 'usuario' %}
                    Tem certeza que deseja excluir o usuário:
                {% elif item_tipo == 'protocolo' %}
                    Tem certeza que deseja excluir o protocolo:
                {% else %}
                    Tem certeza que deseja excluir este item:
                {% endif %}
                <br>
                <a><strong>{{ item_nome }}</strong></a>
                <p><em>Esta ação não pode ser desfeita.</em></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form method="post" action="{% url excluir_url item_id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>